.note {
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.26);
  min-height: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.text {
  flex: 1;
  font-size: 1.3rem;
}
.delete {
  align-self: flex-end;

  padding: 0.5rem;
  background-color: salmon;
  border: 1px solid red;
  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms;

}

.delete:hover{
    background-color: rgb(255, 80, 60);
}
