.note {

  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.text {
  flex: 1;
  font-size: 1.3rem;
}
.delete {
  align-self: flex-end;

  
  background-color: salmon;
  border: 1px solid red;


}

.delete:hover{
    background-color: rgb(255, 80, 60);
}
